@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: #79a3ff3f;
  --spacing: 350px;
  background-color: rgb(0, 0, 0);

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  
  width: 100vw;
  color: #ffffff;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3,h5, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p{
  padding: 2rem;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 8;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 1 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    grid-column: 1 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: rgb(224, 224, 224);

    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 2 / 12;
  }

  .light {
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content: space-around;
    width: 35vw;
    height: 30vw;
    overflow: scroll ;
    grid-column: 2 / 6;
    /* background-color: rgba(0, 255, 106, 0.986); */
    position:relative;
    overflow: hidden;
    margin: 0;

 

  }
.cv{
  grid-column: 1 / 8;
  margin-left: 2rem;

}

.buttons-container{
  display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
  background-color: rgba(127, 255, 212, 0.329);
  height: 4rem;

}


  .project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 70%;
  

    height: 80%;
    color: black;
    background-color: rgba(255, 240, 240, 0.096);
  }

  button{
    background-color: rgba(0, 0, 255, 0.11);
    padding: 0.5rem;
    color: #ffffff;
    cursor: pointer;
  }






  @media only screen and (max-width: 900px) {
    header{
      grid-column: 1 / span 5;

    }
  }

  @media only screen and (max-width: 900px) {
    .cv img{
      grid-column: 1 / 8;
      width:86vw;
    }
  }

  @media only screen and (max-width: 1000px) {
    .light{
      display: flex;
      justify-content: center;
      background-color: rgba(0, 0, 255, 0);
      grid-column: 1 / span 5;
height: auto;
      width: 90vw;


      
    }

 }
 @media only screen and (max-width: 1000px) {
  .project-card {
  background-color: rgba(0, 255, 255, 0);
  height: auto;
    width: 90vw;
   
    
  }
   }
 @media only screen and (max-width: 1000px) {
  .project-card img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
   
    
  }

}

@media only screen and (max-width: 1000px) {
  h5{
   font-size: 1.2rem;
   
    
  }

}