:root {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: 1rem;
    overflow: hidden;
}





/*//////////////////////////////// HEADER */


.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 246, 246, 0.884);
    height: 10vh;
    font-family:'Times New Roman', Times, serif;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.2);

 }

 /*//////////////////////////////// MAIN */


 .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    height: 60vh;
    
    
    }

    /* .circle:nth-last-of-type(2) {
        background: rgba(152, 62, 255, 0.37);
      } */



  .item{
    height: 50vh;
    margin-left: 0rem;
 
  }

  .item-PLANAR{
      border: black 2px solid;
      padding: 5rem;
    height: 50vh;
    margin-left: 0rem;
    background-color: #ffffff;
    filter: invert(85%) sepia(4%) saturate(256%) hue-rotate(201deg) brightness(96%) contrast(92%);


}

.item-PLANAR{
    -webkit-animation: 
    blur 2s forwards;
}
@-webkit-keyframes blur {
    0%, 100%  { -webkit-filter: blur(0px); }
    50% { -webkit-filter: blur(3px); }
  }

   
  
 
  



  

  /*////////////////////////////////FOOTER */

  .circle{
 
 
      height: 5rem;
      width: 5rem;
      border-radius: 50px;
      border: 2px solid rgb(92, 92, 92);
      cursor: pointer;

      overflow-x: auto;
     

  
     
      
  }

  .musical-button{
 width: 2.3rem;
 pointer-events: none;

 

  }

  
  .circles-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-around;
      border-radius: 15px;
     

      
      background-color: rgba(246, 246, 246, 0.37);
      /* offset-x | offset-y | blur-radius | spread-radius | color */
      box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.507);
      width: 40%;
      pointer-events: auto;
      overflow-x: auto;
      

      
  }

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    height: 15vh;
}











/*/////////// MODAL SITUATION */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.623); /* Fallback color */
    background-color:transparent; /* Black w/ opacity */
  
}

/* Hide scrollbar for Chrome, Safari and Opera */
.modal::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  
  
  /* Modal Content */
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 3px solid rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    overflow: scroll;
    color: rgb(230, 230, 230);
    
        background: linear-gradient(-45deg, #ee7752, #180f92, #23a6d5, #16473c);
        background-size: 400% 400%;
        /* animation: gradient 20s ease infinite;
   */
    
    
        
        
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

  .content-container{
      display: flex;
      flex-direction: row; 
      justify-content: center;
      text-align: center;
      background-color: rgba(17, 14, 14, 0.603);
      padding: 5rem;
      width: 100%;
      font-size: 2rem;

  }

 


  
  /* The Close Button */
  .close {
    margin-left: 90%;
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;

   
  }
  
  .close:hover,
  .close:focus {
   transition: 0.4s;
    border:0px solid white;
    color:rgba(122, 224, 215);
    text-decoration: none;
    cursor: pointer;
  }

 

/*////// about page /*/



.inside-left-01{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.527);
    font-size: 2rem;
    color: rgba(245, 245, 245, 0.842);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.inside-left-02{
    width: 100%;
    height: 100%;
    background-color: rgba(54, 54, 168, 0.37);
    font-size: 2rem;
    color: rgba(245, 245, 245, 0.842);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* .about-right{
    width: 100%;
    height: 10vh;
    background-color: tomato;
} */

.logo-class{
    display: flex;
    width: auto;
}

.container-contact-buttons{

    display: flex;
    flex-direction: row;

    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.822);
    box-shadow: 0px 10px 8px 0px rgba(255, 255, 255, 0.295);
   padding-bottom: 0.6rem;

}

code{
    
    font-size: 1.8rem;
}

a{
margin-left: 60%;
    color: #23a6d5;
    ;
}

.code-container{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: space-around;
 background-color: rgba(0, 0, 0, 0.425);
 max-width: 400px;
    margin: 2rem;
    padding: 3rem;
    color: white;
}

.contact-button-image{
  margin-top: 1rem;
 

    width: 3.2rem;
   
}





  




/*////////////////////////////////FIRST BREAKPOINT */

@media (min-width: 768px) {
    .footer-container{
        display: flex;
        flex-direction: row;
      
    }
    .circle{
        height: 6rem;
        width: 6rem;
        background-color: #ffffff;
        border-radius: 50px;
        pointer-events: auto;
    }

    .content-container{
        display: flex;
        flex-direction: row; 
        justify-content: center;
        text-align: center;
        background-color: rgba(17, 14, 14, 0.603);
        padding: 5rem;
        width: 70%;
        font-size: 2rem;
  
    }
    

  

}


/*////////////////////////////////SECOND BREAKPOINT */

@media (max-width: 768px) {
    .footer-container{
        display: flex;
        flex-direction: column;
        border-radius: 15px;
       
    
    }
    .circles-container{
        width: 100%;
        background-color: rgba(246, 246, 246, 0.884);
    }
    .circle{
        height: 5rem;
        width: 5rem;
        background-color: #ffffff;
        border-radius: 50px;
        pointer-events: auto;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0px 0px 12px 1px rgba(122, 224, 215, 0.486);
         }
       
         .content-container{
            display: flex;
            flex-direction: row; 
            justify-content: center;
            text-align: center;
            background-color: rgba(17, 14, 14, 0.603);
            padding: 5rem;
            width: 90%;
            font-size: 2rem;
      
        }

        
    
        
        

}


