@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: #79a3ff3f;
  --spacing: 350px;
  background-color: rgb(0, 0, 0);

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  
  width: 100vw;
  color: #ffffff;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3,h5, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p{
  padding: 2rem;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 8;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 1 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    grid-column: 1 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: rgb(224, 224, 224);

    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 2 / 12;
  }

  .light {
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content: space-around;
    width: 35vw;
    height: 30vw;
    overflow: scroll ;
    grid-column: 2 / 6;
    /* background-color: rgba(0, 255, 106, 0.986); */
    position:relative;
    overflow: hidden;
    margin: 0;

 

  }
.cv{
  grid-column: 1 / 8;
  margin-left: 2rem;

}

.buttons-container{
  display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
  background-color: rgba(127, 255, 212, 0.329);
  height: 4rem;

}


  .project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 70%;
  

    height: 80%;
    color: black;
    background-color: rgba(255, 240, 240, 0.096);
  }

  button{
    background-color: rgba(0, 0, 255, 0.11);
    padding: 0.5rem;
    color: #ffffff;
    cursor: pointer;
  }
/* NAV */
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Fondamento&family=Yuji+Boku&display=swap");
/* * {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Yuji Boku", serif;
} */

/* body {
  height: 100vh;
  width: 100%;
} */

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #360033;
  background: -webkit-linear-gradient(-8deg, #0b8793, #360033);
  background: linear-gradient(-8deg, #0b889367, #360033);
}

ul {
  margin-bottom: 0;
}

.navbar {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-menu li {
  list-style: none;
  padding: 0 1rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

a.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.nav-link:hover {
  color: orange;
}

.hamburger {
  display: none;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #fff;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.bar:nth-child(1) {
  width: 100%;
}

.bar:nth-child(2) {
  width: 200%;
}

.bar:nth-child(3) {
  width: 300%;
}

@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 75px;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 auto;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  a.nav-link {
    margin: 1rem 0;
    color: #333;
    z-index: 1;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;
  }
}

@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 0.75rem 0;
  }
}

/* NAV */




  @media only screen and (max-width: 900px) {
    header{
      grid-column: 1 / span 5;

    }
  }

  @media only screen and (max-width: 900px) {
    .cv img{
      grid-column: 1 / 8;
      width:86vw;
    }
  }

  @media only screen and (max-width: 1000px) {
    .light{
      display: flex;
      justify-content: center;
      background-color: rgba(0, 0, 255, 0);
      grid-column: 1 / span 5;
height: auto;
      width: 90vw;


      
    }

 }
 @media only screen and (max-width: 1000px) {
  .project-card {
  background-color: rgba(0, 255, 255, 0);
  height: auto;
    width: 90vw;
   
    
  }
   }
 @media only screen and (max-width: 1000px) {
  .project-card img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
   
    
  }

}

@media only screen and (max-width: 1000px) {
  h5{
   font-size: 1.2rem;
   
    
  }

}