:root {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: 1rem;
    overflow: hidden;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////// HEADER */

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 246, 246, 0.884);
    height: 10vh;
    font-family:'Times New Roman', Times, serif;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.2);
 }

 /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// MAIN */

 .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    height: 60vh;
    transform: translate3d(0, 0, 0);
    }

   

  .item{
    height: 50vh;
    
  }


  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  VARIABLES */

  .item-PLANAR{
      margin-left: 15rem;
      border: black 2px solid;
      padding: 5rem;
      height: 50vh;
      margin-left: 0rem;
      background-color: #ffffff;

    }
   

    /*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  FOOTER / NAVIGATION */
    
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        height: 15vh;
    }
    .circles-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        border-radius: 15px;
        background-color: rgba(246, 246, 246, 0.37);
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.507);
        width: 40%;
        pointer-events: auto;
        position: relative;
        overflow: hidden;
 }
  .circle{
        height: 5rem;
        width: 5rem;
        border-radius: 50px;
        border: 2px solid rgb(92, 92, 92);
        cursor: pointer;
        overflow-x: auto;
  }
  .musical-button{
        width: 2.3rem;
        pointer-events: none;
  }

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// MODAL SITUATION */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgba(153, 153, 153, 0.623); /* Fallback color */
    background-color:transparent; /* Black w/ opacity */
}

/*///////////////////////////////////////////////////////////////////////////////////// Hide scrollbar for Chrome, Safari and Opera */
.modal::-webkit-scrollbar {
    display: none;
}
/*///////////////////////////////////////////////////////////////////////////////////// Hide scrollbar for IE, Edge and Firefox */
.modal{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/*///////////////////////////////////////////////////////////////////////////////////// Modal Content General Settings */
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 3px solid rgb(255, 255, 255);
    width: 100%;
    overflow: scroll;
    color: rgb(230, 230, 230);
    background-color: rgb(75, 62, 62);
    background-size: 400% 400%;
   
    
    }
    /*///////////////////////////////////////////////////////////////////////////////////// Modals */
    
    /*///////////////////////////////////////// The Close Button */

      .close {
  
        color: #4f18d1;
       
        font-size: 100px;
        position:static;
        font-weight: bold;
        
      }
      .close:hover,
      .close:focus {
       transition: 0.4s;
        border:0px solid white;
        color:rgba(122, 224, 215);
        text-decoration: none;
        cursor: pointer;
      }

    /*////////////////////////////////////////////////////////////////////////////////////////  about*/

  .about-container{
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: rgba(2, 1, 1, 0.911);
      width: 100%;
      height: 100vh;
      padding: 3rem;
      color: white;
  }

  .about-photo{
    display: flex;
    height: 25rem;
    border-radius: 400px;
  }

  .about-photo-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .contenido {
    color: #4f18d1;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

/* ////////////////////////////////////////////////////////////////////////////////////////////////  about ends */
.aboutclose-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  height: 5rem;
  width: 100%;
position:sticky;
  background-color: #0097cec2;
  
}
.container-contact-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    background-color: rgba(23, 219, 111, 0.76);
    box-shadow: 0px 10px 8px 0px rgba(219, 214, 214, 0.829);
}

code{
    font-size: 1.8rem;
}

a{
 
    color: #23a6d5;
}

/*///////////////////////////////////////////////////////////////////////////////////// WEB DEV PROJECTS */

.code-container{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.425);
    max-width: 400px;
    margin: 2rem;
    padding: 3rem;
    color: white;
}

.contact-button-image{
    margin-top: 1rem;
    width: 3.2rem;
}

/* ///////////////////////////////////////////////////////////////////////////////// PH ///////////////// */

  .tech-slideshow {
    height: 200px;
    max-width: 800px;
    
    position: relative;

    transform: translate3d(0, 0, 0);
 
  }
  
  .tech-slideshow > div {
    z-index: 5;
    height: 200px;
    width: 2403px;
    background: url(./images/tira-roma.png);
    top: 0;
    left: 0;


  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 15s linear  infinite;
  }
  .tech-slideshow .mover-2 {
    animation: moveSlideshow 0s linear  infinite;
  }

    /* @keyframes moveSlideshow {
      100% { 
        transform: translateX(-66%);  
      }
    }
    
    @keyframes moveSlideshow-slow {
      100% { 
        transform: translateX(-66.6666%);  
      }
    } */

/*//////////////////////////////////////////////////////////////////////////////////////FIRST BREAKPOINT //////////////////////////////////////////////////////// */

@media (min-width: 768px) {
    .footer-container{
        display: flex;
        flex-direction: row;
    }

    .circle{
        height: 6rem;
        width: 6rem;
        background-color: #ffffff;
        border-radius: 50px;
        pointer-events: auto;
    }

    .content-container{
        display: flex;
        flex-direction: row; 
        justify-content: center;
        text-align: center;
        background-color: rgba(17, 14, 14, 0.603);
        padding: 5rem;
        width: 70%;
        font-size: 2rem;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////SECOND BREAKPOINT ////////////////////////////////////////////////////// */

@media (max-width: 768px) {
    .footer-container{
        display: flex;
        flex-direction: column;
        border-radius: 15px;
    }
    .circles-container{
        width: 100%;
        background-color: rgba(246, 246, 246, 0.884);
    }
    .circle{
        height: 5rem;
        width: 5rem;
        background-color: #ffffff;
        border-radius: 50px;
        pointer-events: auto;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0px 0px 12px 1px rgba(122, 224, 215, 0.486);
         }
       
    .content-container{
        display: flex;
        flex-direction: row; 
        justify-content: center;
        text-align: center;
        background-color: rgba(17, 14, 14, 0.603);
        padding: 5rem;
        width: 90%;
        font-size: 2rem;
        }
        /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////END  */
}


